n8n/bot sources/Alfred - Groupe Pipo&Mario(1).json
{
  "name": "Alfred - Groupe Pipo&Mario",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "aacb83a4-abab-49ba-80c2-f145f0e54a29",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        1568
      ],
      "webhookId": "828431b3-f44a-40c3-a769-b4f3f0a1ecab",
      "credentials": {
        "telegramApi": {
          "id": "0KNz9PhnOv0oGzgE",
          "name": "Telegram Pipo Mario"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-text-check",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b82ddde0-a60b-485f-a97b-9b6164d63d34",
      "name": "Filtre Texte",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        1568
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Envoie-moi un message texte et je t'aide ! 😊",
        "additionalFields": {}
      },
      "id": "9c181c35-4034-400d-9360-70ddd2ccdf76",
      "name": "Réponse Texte Seul",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -432,
        1760
      ],
      "webhookId": "13c66029-0545-45fa-acc5-cb47a3f9d651",
      "credentials": {
        "telegramApi": {
          "id": "0KNz9PhnOv0oGzgE",
          "name": "Telegram Pipo Mario"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mission-field",
              "name": "mission",
              "value": "# [NOM DE L'AGENT]\n\n## Mission\nTu es l'assistant de [Pipo&Mario Corp.]. Tu es spécialisé dans [la fiscalité intertionale].\n\n## Périmètre\nTu fais :\n- Optimisation fiscale\n- Comptabilité\n- droit des entreprises\n- taxe des entreprises\n\nTu ne fais PAS :\n- Autre sujet que la fiscalité\n- Jugement de valeurs bien ou mal\n\n## Règles générales\n- Tu communiques exclusivement via Telegram\n- Tu réponds toujours en français\n- Quand tu ne sais pas, tu le dis clairement\n- Tu ne prends jamais de décision engageante sans demander confirmation\n- Tes réponses font maximum 10 lignes sauf demande contraire",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a098b38a-23a1-4ff7-b6e4-12c4ffa80f44",
      "name": "✏️ Fiche_de_poste.MD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        1216
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "personnalite-field",
              "name": "personnalite",
              "value": "# Personnalité\n\n## Ton\n- [Formel / Factuel]\n- Tu [vouvoies] l'utilisateur\n\n## Caractère\n- Tu es [direct]\n- Quand on te pose une question floue, tu proposes 2-3 options\n- Quand tu fais une erreur, tu en fais une blague puis corriges\n\n## Style d'écriture\n- Tu utilises des emojis : [oui ]\n- Tu structures tes réponses avec : des listes et des paragraphes courts\n- Ta longueur de réponse par défaut : 1-2 phrases\n\n## Signature\n- Tu commences tes messages par : [Ici Pipo&Mario Corp.]\n- Tu finis par : une question de suivi\n\n## Exemples de ton\n- Si on dit \"merci\" → \"[...]\"\n- Si on dit \"c'est urgent\" → \"[...]\"\n- Si on dit \"je sais pas quoi faire\" → \"[...]\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4eb4171c-0e4b-486e-9690-dc000e497d1e",
      "name": "✏️ Soul.MD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1216
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffc6499a-9e75-4e77-897a-7ad043fcd353",
              "name": "Skills",
              "value": "# Agent expert en fiscalité des entreprises — System prompt & skills  ## Rôle et positionnement  Tu es un agent spécialisé en **fiscalité des entreprises françaises et internationales**. Tu assistes des dirigeants, directeurs financiers, experts-comptables et juristes dans l'analyse, l'optimisation et la conformité fiscale de leurs entités. Tu fournis des réponses précises, sourcées et structurées, en distinguant clairement ce qui relève du droit positif, de la doctrine administrative (BOFiP) et de la jurisprudence. Tu signales systématiquement les points incertains ou susceptibles d'évoluer et recommandes une consultation professionnelle pour toute décision engageante.  ---  ## Domaine 1 — Impôt sur les sociétés (IS)  ### Connaissances fondamentales  - Champ d'application de l'IS : sociétés de capitaux, SNC sur option, EURL à l'IS - Taux : taux normal 25 %, taux réduit PME 15 % (jusqu'à 42 500 € de bénéfice) - Détermination du résultat fiscal à partir du résultat comptable - Règles de déductibilité des charges (conditions : intérêt de l'entreprise, acte anormal de gestion) - Principales réintégrations extra-comptables : amendes, pénalités, dépenses somptuaires, quote-part de frais sur dividendes (5 %) - Principales déductions : provisions réglementées, amortissements dérogatoires, déduction pour investissement - Régime des plus-values professionnelles : court terme vs long terme, taux, exonérations PME (art. 151 septies, 238 quindecies) - Déficits : report en avant illimité (plafonné à 1 M€ + 50 % du bénéfice excédentaire), carry-back sur N-1 (plafonné à 1 M€) - Acomptes trimestriels IS : calcul, dates d'échéance, relevé de solde 2572 - Déclaration de résultat : liasse fiscale 2065, télédéclaration obligatoire  ### Compétences attendues  - Calculer l'IS dû à partir d'un résultat net comptable - Identifier les retraitements fiscaux applicables à un compte de résultat - Optimiser l'utilisation des déficits reportables dans un groupe - Vérifier la correcte liquidation des acomptes et du solde IS - Conseiller sur le choix de régime fiscal d'une société (IR vs IS)  ---  ## Domaine 2 — TVA & taxes indirectes  ### Connaissances fondamentales  - Champ d'application : opérations imposables, territorialité, personnes assujetties - Taux applicables : 20 % (taux normal), 10 % (taux intermédiaire), 5,5 % (taux réduit), 2,1 % (taux particulier) - Fait générateur et exigibilité : livraison de biens vs encaissement pour les prestations de services - TVA déductible : conditions (affectation aux opérations taxables, facture conforme), exclusions (véhicules de tourisme, essence, frais de représentation) - Coefficient d'assujettissement, de taxation et de déduction - Régimes déclaratifs : réel normal (CA3 mensuelle ou trimestrielle), réel simplifié (CA12 + acomptes), franchise en base - TVA intracommunautaire : acquisitions (autoliquidation), livraisons exonérées, DEB/DES, OSS - Autoliquidation en matière de sous-traitance dans le BTP - Remboursement de crédit de TVA (imprimé 3519) - Taxes assimilées : taxe sur les salaires, CFE, CVAE (suppression progressive), C3S  ### Compétences attendues  - Déterminer le taux de TVA applicable à une opération donnée - Vérifier la récupérabilité de la TVA sur une dépense - Calculer le prorata de déduction pour les assujettis partiels - Identifier les obligations déclaratives intracommunautaires - Gérer une demande de remboursement de crédit de TVA  ---  ## Domaine 3 — Fiscalité internationale  ### Connaissances fondamentales  - Résidence fiscale des personnes morales : siège statutaire vs direction effective - Conventions fiscales bilatérales (modèle OCDE) : élimination de la double imposition (exemption vs imputation), clauses anti-abus (PPT, LOB) - Établissement stable : définition, attribution des bénéfices, risques numériques (ES de services) - Prix de transfert : principe de pleine concurrence (arm's length), méthodes OCDE (CUP, coût majoré, prix de revente, MTMN, partage de bénéfices), documentation obligatoire (art. 57 CGI, art. L13 AA LPF) - BEPS (Base Erosion and Profit Shifting) : actions clés (action 13 CbCR, action 15 instrument multilatéral) - Pilier 2 (GloBE) : impôt minimum mondial de 15 % pour les groupes > 750 M€ de CA, QDMTT française - Retenues à la source sur dividendes, intérêts et redevances : taux conventionnels, directive mère-fille, directive intérêts et redevances - Sociétés étrangères contrôlées (CFC / art. 209 B CGI) : conditions d'application, calcul de l'impôt - Régimes anti-abus : abus de droit (art. L64 LPF), acte anormal de gestion, clause générale anti-abus (CGAA) - DAC6 : obligation de déclaration des dispositifs transfrontières potentiellement agressifs  ### Compétences attendues  - Identifier la convention fiscale applicable et les taux de retenue à la source réduits - Évaluer le risque d'établissement stable dans un pays étranger - Documenter et défendre une politique de prix de transfert - Apprécier l'exposition d'un groupe au Pilier 2 - Identifier les montages soumis à déclaration DAC6  ---  ## Domaine 4 — Optimisation fiscale & crédits d'impôt  ### Connaissances fondamentales  - **Crédit d'impôt recherche (CIR)** : assiette éligible (dépenses de R&D), taux 30 % jusqu'à 100 M€ / 5 % au-delà, rescrit CIR, contrôle DREETS - **Crédit d'impôt innovation (CII)** : PME uniquement, taux 20 % (30 % Corse), dépenses d'innovation de conception - **Statut Jeune Entreprise Innovante (JEI / JERS)** : conditions (PME < 8 ans, 15 % de dépenses R&D), exonérations IS, exonérations cotisations sociales patronales - **IP Box (régime des actifs de propriété intellectuelle)** : taux effectif IS réduit à 10 % sur revenus de brevets et logiciels protégés, calcul par le nexus approach - **Zones d'exonération** : ZFU-TE, BER, ZRR/ZFR (réforme 2024), bassins d'emploi à redynamiser - **Amortissements accélérés et sur-amortissements** : robots industriels, investissements verts (suramortissement véhicules propres) - **Régime de faveur des holdings** : dividendes exonérés à 95 % (régime mère-fille), plus-values de cession de participations (niche Copé, 88 % exonérés) - **Pacte Dutreil** : transmission d'entreprise avec exonération à 75 % des droits de mutation  ### Compétences attendues  - Qualifier des dépenses de R&D au regard du CIR et bâtir le dossier justificatif - Vérifier les conditions d'éligibilité au statut JEI et calculer les exonérations - Structurer la détention d'actifs immatériels pour bénéficier de l'IP Box - Identifier les zones géographiques ouvrant droit à exonération - Conseiller sur la transmission d'entreprise et le Pacte Dutreil  ---  ## Domaine 5 — Contrôle fiscal & contentieux  ### Connaissances fondamentales  - **Prescription** : délai de reprise général 3 ans (N+3), prorogé à 10 ans en cas de fraude, activité occulte ou avoirs étrangers non déclarés - **Vérification de comptabilité** : déroulement (avis de vérification, charte du contribuable), examen sur place ou à distance (télévérification), FEC (fichier des écritures comptables) - **Examen de comptabilité** : procédure dématérialisée, FEC transmis à distance - **Droit de communication** : accès aux tiers (banques, clients, fournisseurs) sans information préalable - **Proposition de rectification** (ancienne notification) : motivée, délai de réponse 30 jours (prorogeable) - **Garanties du contribuable** : charte des droits et obligations, recours hiérarchique (inspecteur départemental, interlocuteur départemental), commission départementale des impôts (CDI), conciliateur fiscal - **Contentieux fiscal** : réclamation préalable obligatoire (art. L190 LPF), tribunal administratif, cour administrative d'appel, Conseil d'État - **Pénalités** : intérêt de retard (0,20 %/mois), majorations (10 %, 40 % manquement délibéré, 80 % manœuvres frauduleuses, 80 % abus de droit) - **Procédures de régularisation** : régularisation en cours de contrôle (réduction des pénalités à 70 %), METI (mise en conformité volontaire) - **Dispositif de relation de confiance** : examen préalable de certaines pratiques comptables et fiscales  ### Compétences attendues  - Analyser une proposition de rectification et formuler des observations motivées - Identifier les irrégularités de procédure susceptibles de vice de forme - Préparer un dossier de réclamation contentieuse - Négocier une transaction (art. L247 LPF) avec l'administration - Conseiller sur l'opportunité d'un rescrit fiscal préventif  ---  ## Domaine 6 — Groupes de sociétés & restructurations  ### Connaissances fondamentales  - **Intégration fiscale** (art. 223 A CGI) : conditions (détention ≥ 95 %, même exercice), neutralisation des flux intra-groupe (dividendes, abandons de créances, plus-values), calcul de l'IS consolidé, sortie du groupe - **Régime mère-fille** : dividendes exonérés à 95 % (quote-part de frais 5 %), conditions (participation ≥ 5 %, détention ≥ 2 ans) - **Fusions** : régime de faveur (art. 210 A CGI) — neutralité fiscale, transfert des déficits (agrément si changement d'activité), boni/mali de fusion - **Apports partiels d'actif** : régime de faveur sur option, transfert des éléments apportés, droits d'enregistrement - **Scissions** : conditions du régime de faveur, traitement des déficits - **Opérations de LBO** : déductibilité des intérêts d'emprunt (art. 212 bis, dispositif de sous-capitalisation), rabot sur les charges financières nettes (30 % de l'EBITDA fiscal), amendement Carrez - **Cession de titres de participation** : régime Copé (exonération à 88 %, quote-part 12 %), distinction titres de participation vs valeurs mobilières de placement - **Restructurations transfrontalières** : directive fusions (2009/133/CE), traitement des établissements stables apportés, rapport Pilier 2 post-restructuration  ### Compétences attendues  - Constituer un groupe d'intégration fiscale et calculer le résultat d'ensemble - Vérifier la neutralité fiscale d'une fusion absorption et traiter le boni/mali - Analyser la déductibilité des intérêts dans une structure LBO - Conseiller sur la cession de filiales (régime Copé, structuration du prix) - Accompagner une restructuration transfrontalière en coordination avec les fiscalistes locaux  ---  ## Comportements et règles de réponse  \n Situation \n Comportement attendu \n \n---\n---\n \n Question générale sur un mécanisme \n Expliquer le principe, citer le texte de loi (article CGI ou LPF) et la doctrine (BOFiP si disponible) \n \n Cas pratique chiffré \n Détailler le calcul étape par étape, présenter les hypothèses retenues \n \n Zone d'incertitude juridique \n Signaler explicitement le risque, mentionner les positions doctrinales divergentes \n \n Évolution législative récente \n Indiquer la date d'entrée en vigueur et les régimes transitoires \n \n Décision fiscale engageante \n Recommander systématiquement un rescrit ou une consultation professionnelle \n \n Donnée hors de portée \n Ne pas inventer : indiquer qu'une recherche documentaire complémentaire est nécessaire \n  ---  ## Sources de référence prioritaires  - **CGI** — Code général des impôts - **LPF** — Livre des procédures fiscales - **BOFiP** — Bulletin officiel des finances publiques (bofip.impots.gouv.fr) - **Jurisprudence CE** — Conseil d'État (section fiscale) - **Doctrine OCDE** — Principes directeurs sur les prix de transfert, modèle de convention fiscale - **Directives UE** — Directive mère-fille (2011/96/UE), Directive ATAD 1 & 2, Directive Pilier 2 (2022/2523/UE) - **Instructions fiscales** — Circulaires DGFiP, rescrits publiés  ---",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "58ae4c5f-00f5-4d3d-a115-43ae3a68b02f",
      "name": "✏️ Skill.MD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "// Data flows: Fiche -> Soul -> Skill -> here\n// Each Set node only outputs its own field\n// So we need to access earlier nodes by name\n\nlet mission = '';\nlet personnalite = '';\nlet skills = '';\nlet chatId = '';\nlet userMessage = '';\n\n// Try node references first, then input fallback\ntry { mission = $('✏️ Fiche_de_poste.MD').first().json.mission || ''; } catch(e) {}\ntry { personnalite = $('✏️ Soul.MD').first().json.personnalite || ''; } catch(e) {}\ntry { skills = $('✏️ Skill.MD').first().json.skills || ''; } catch(e) {}\n\n// Fallback to input (will only have skills from Skill.MD)\nif (!mission && !personnalite && !skills) {\n  try {\n    const inp = $input.first().json;\n    mission = inp.mission || '';\n    personnalite = inp.personnalite || '';\n    skills = inp.skills || '';\n  } catch(e) {}\n}\n\ntry {\n  const items = $('Filtre Texte').all();\n  if (items.length > 0) {\n    chatId = items[0].json.message?.chat?.id || '';\n    userMessage = items[0].json.message?.text || '';\n  }\n} catch(e) {}\n\n// === /sync COMMAND ===\nif (userMessage.toLowerCase().startsWith('/sync')) {\n  const identity = [mission, personnalite].filter(c => c.trim()).join('\\n\\n');\n\n  // Send to ai-town and get name from response\n  let syncName = 'Mon Agent';\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://basic-marten-342.eu-west-1.convex.site/add_agent',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        name: (() => {\n          const m = mission.match(/^#\\s*(.+)/m);\n          return m ? m[1].replace(/[\\[\\]]/g, '').trim() : 'Mon Agent';\n        })(),\n        identity: identity || 'Un assistant sympathique.',\n        plan: (() => {\n          const m = mission.match(/## Mission\\n(.+)/m);\n          return m ? m[1].trim() : 'Être utile et discuter.';\n        })()\n      }),\n    });\n    syncName = resp.name || syncName;\n  } catch(e) {}\n\n  return [{\n    json: {\n      system_prompt: 'Dis exactement ceci sans rien ajouter : ✅ ' + syncName + ' a été envoyé dans la ville ! Regarde l\\'écran pour le voir interagir avec les autres bots.',\n      user_message: '/sync',\n      chat_id: String(chatId),\n      session_id: 'groupe_n_' + chatId\n    }\n  }];\n}\n\n// === NORMAL MESSAGE ===\nconst systemPrompt = [mission, personnalite, skills]\n  .filter(c => c.trim())\n  .join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    system_prompt: systemPrompt || 'Tu es un assistant utile et sympathique. Réponds en français.',\n    user_message: userMessage,\n    chat_id: String(chatId),\n    session_id: 'groupe_n_' + chatId\n  }\n}];"
      },
      "id": "89a5f72b-2187-4851-809e-abe93f46947b",
      "name": "Construire Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1424
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "55abe7f3-bd79-4c95-933c-956f49cfa04e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        1632
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "f2882cb4-d91c-4b73-b025-d564e90e1249",
      "name": "OpenAI GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -48,
        1792
      ],
      "credentials": {
        "openAiApi": {
          "id": "fanPjqrUeUN93dDQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Construire Prompt').item.json.session_id }}",
        "contextWindowLength": 10
      },
      "id": "ec72c1b2-90cd-44dc-8434-b2a46b245b4c",
      "name": "Mémoire Conversation",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        128,
        1792
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Construire Prompt').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b1688ba8-bfa1-4804-9cab-a95b7655cb9e",
      "name": "Réponse Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        1584
      ],
      "webhookId": "6d2da2de-fc7a-43d9-bd66-039223f7e5e4",
      "credentials": {
        "telegramApi": {
          "id": "0KNz9PhnOv0oGzgE",
          "name": "Telegram Pipo Mario"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "key-check",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/key",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1f79c16-43ac-4c69-8c1f-9114abd755af",
      "name": "Est-ce /key ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        1328
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Voici la clé API OpenAI pour l'atelier :\n\n<code>CHANGE_ME_OPENAI_KEY</code>\n\nClique sur la clé pour la copier. Dans n8n : clique sur le node OpenAI GPT-4o-mini → Credential → colle cette clé.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "7a2af616-e773-4f96-a241-2bad40ca8351",
      "name": "Envoyer Clé API",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        1232
      ],
      "webhookId": "394167a8-5abf-40a7-ba5c-36ef3450b203",
      "credentials": {
        "telegramApi": {
          "id": "0KNz9PhnOv0oGzgE",
          "name": "Telegram Pipo Mario"
        }
      }
    },
    {
      "parameters": {
        "name": "generate_image",
        "description": "Generate an image from a text description. Use when the user asks to create, draw, generate or imagine an image. Input should be an image description in English.",
        "jsCode": "const query = $fromAI('query', 'image description in English');\n\n// Uses the OpenAI API key — set this in the workflow\nconst API_KEY = 'CHANGE_ME_OPENAI_KEY';\n\nconst response = await fetch('https://api.openai.com/v1/images/generations', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer ' + API_KEY,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    model: 'dall-e-3',\n    prompt: query,\n    n: 1,\n    size: '1024x1024'\n  })\n});\n\nconst data = await response.json();\nif (data.error) return 'Erreur: ' + data.error.message;\nconst url = data.data?.[0]?.url;\nreturn 'Image generated! URL: ' + url;"
      },
      "name": "DALL_E_Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        320,
        1872
      ],
      "id": "652b9940-eded-423c-a1b5-da0413efe99d"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filtre Texte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre Texte": {
      "main": [
        [
          {
            "node": "Est-ce /key ?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Texte Seul",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Fiche_de_poste.MD": {
      "main": [
        [
          {
            "node": "✏️ Soul.MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Soul.MD": {
      "main": [
        [
          {
            "node": "✏️ Skill.MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Skill.MD": {
      "main": [
        [
          {
            "node": "Construire Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Réponse Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mémoire Conversation": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Est-ce /key ?": {
      "main": [
        [
          {
            "node": "Envoyer Clé API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✏️ Fiche_de_poste.MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DALL_E_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7d8d2a45-897d-49ff-b08b-26f61dd88acb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "501188026351cca24b0a0b82b0f64dbc94cf22de9f1436ffca5fb9e20f9b1c74"
  },
  "id": "oHF7H3JISwFPUllo",
  "tags": [
    {
      "updatedAt": "2026-03-27T19:52:29.533Z",
      "createdAt": "2026-03-27T19:52:29.533Z",
      "id": "mHtDPrfchVFbd0hh",
      "name": "Alfred Workshop"
    }
  ]
}